body{
font-family: 'Merriweather', serif;
}

.container{
    max-width: 100% ;
    padding: 0px 20px;
    margin: 0px auto;
}
/*------------------------ nab bar--------------------------------------------*/
.navbar{
    justify-content: space-evenly;
}
#navbarDropdown:hover{
color:#71c0d6;
}
#navbarDropdown{
    font-size: 25px;
}

    /* button*/
.btn {background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)}
.btn {
    margin: 4px 11px;
    padding: 11px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.1s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
    display: inline-block;
     width: 155px;

 }

 .btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 /*---------------------------first heading--------------------------*/
 .hero_description{
    width:100%;
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
  
 }
 
 .hero_container_image{
    width:100%;
    margin-top: 30px;
    
}

  
.carousel-inner{
    border-radius: 10px;
}
 .hero_text{
    font-weight:900;
    font-size: 40px
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) { 
    .illustration_cards_image{
        width:100%;
        justify-content: space-evenly;
       }
 }

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) { 
    .hero_text{
        font-size: 60px;
    }
    
    .illustration_cards{
        width:100%;
        
       }
}
/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) { 
    .hero_text{
        font-size: 40px;
    }
    .carousel-item{
        font-size: 30px;
    }
    .hero_description{
        padding: 180px;
        font-size: 80px;
    }
    .illustration_cards{
        width:100%;
        justify-content: space-evenly;
       }
 }


